<div id="headTitle" class="container">
  <h1>Burger-List!</h1>
</div>


<div id="addBurger" class="container">
<h2>Add a Burger</h2>
<form method="POST" action="/api/burgers" class="create-form">

  <div class="form-group">
    <label for="bur" ></label>
    <input style="text-align: center;" placeholder="Burger Name" type="text" id="burg" burger_name="burger_name">
  </div>
</div>
<div id="subButton">
  <button type="submit" class="btn btn-warning btn-lg create-form">Add Burger</button>

</div>
</form>
  