li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body {
    background-color: green;
  }

  h1 {
    text-align: center;
  }

  #headTitle{
background-color: rgb(245, 155, 53);
padding: 50px;
margin-top: 10px;

  }

h2{
  text-align: center;
}
.form-group{
  text-align: center;
}

#subButton{
  margin-left: 700px;
  
}